#tweetCol{
    padding: 10px;
    border-left-style: solid dodgerblue ;
}

#userCol{
    background: white;
    border-radius: 100px;
    border: 2px solid dodgerblue;
    padding: 20px;
    height: 300px;
}

#newTweet{
    background: white;
    border: 2px solid dodgerblue;
    padding: 5px;
    height: 15px;
}

div.tweetClass{
    border-radius: 100px;
    border: 2px solid dodgerblue;
    padding: 10px;
    margin: 10px;
    height: 30px;
    background: dodgerblue;
}

#wrapper {
  margin-left: 200px;
}
#content {
  float: right;
  width: 100%;
  background-color: grey;
}
#sidebar {
  float: left;
  width: 200px;
  margin-left: -200px;
  background-color: whitesmoke;
  border-right: 2px dotted red;
}
#cleared {
  clear: both;
}