
p {
    line-height: normal;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    margin: 2px;
}

#feed {
    width: 300px;
    float: left;
    border: 2px solid darkred;
    padding: 10px;
    margin: 10px;
    font: 20px;
    color: black;
    background-color: #d4c6c6;
    display: flex;
    flex-flow: column wrap;
    cursor: pointer;
}

#feed p { font-weight: bold;}
#feed p+p { font-weight: normal;}
#feed p+p+p { font-weight: normal;}

#feed:hover {
  background-color: white;
  transition: all .2s ease-in-out;
  transform: scale(1.05);
}

body {
  background-color : black;
  background-size : cover;
  background-repeat : no-repeat;
  position : center;
  background-attachment : fixed;
  background-clip : content-box;
  margin: 0px;
  height: auto;
}

h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 52px;
    padding: 0px;
    margin: 0px;
}
h1.register {
    color: #4A4A4A;
    padding: 29px 29px 29px 40px;
    font-size: 63px;
}
label.xlgLabel {
    position: absolute;
    top: 7px;
    left: 100px;
    color: #222;
    font-family: Verdana, sans-serif;
    font-weight: 600;
    font-size: 54px;  
}

label.lgLabel
{
    color: #ccc;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: 24px;
    width: 335px;
    padding: 6px 15px 6px 65px;
    margin-bottom: 15px;
 }
label.smLabel  {
    color: #3F3F46;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    font-size: 15px;
}

label.smValue  {
    color: #3F3F46;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: 15px;
}

.textBox
{
    background-color: #333;
    color: #ccc;
    font-size: 24px;
    width: 335px;
    padding: 6px 15px 6px 35px;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: 0 1px 0 #ccc inset;
    transition:500ms all ease;
    float:right;
}

.textBox:hover
{
    width:360px;
}

.textArea
{
    background-color: #333;
    color: #ccc;
    font-size: 24px;
    height: 200px;
    width: 335px;
    padding: 6px 15px 6px 35px;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: 0 1px 0 #ccc inset;
    transition:500ms all ease;
    float:right;
}

.button, linkForSale {
    background-color: #333;
    border: 3px #ccc solid;
    color: #ccc;
    font-size: 20px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}

.button:hover {
  color: #333;
  background-color: #ccc;
  transition: all .2s ease-in-out;
  transform: scale(1.05);
}

.divBox {
  width: 400px;
}
.errorBox {
  height: 60px;
}
.spacer2 {
  height: 24px;
}
.error {
    background-color: #ccc;
    border: 3px #333 solid;
    color: #a00;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    display: inline-block;
    margin: 4px 2px;
}

.logpage {
  position: relative;
  left: 65px;
  top: 10px;
}

#wrapper {
  margin-left: 0px;
}
#content {
  float: right;
  width: 68%;
  height: 100%;
  margin-left: 5px;
}
#sidebar {
  position:fixed;
  float: left;
  width: 30%;
  height: 100%;
  background-color: whitesmoke;
  border: 2px solid red;
  opacity: 1;
  overflow: hidden;
}
#cleared {
  clear: both;
}

#searchOptions{
  border-top: 5px dotted red;
  padding: 10px 5px;
}

#profile{
  padding: 5px;
  height: 15%
}

.smLink {
  color: #FF2727;
  text-decoration: none;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.smLink:hover {
  text-decoration: underline;
}


.link {
  color: aliceblue;
  text-decoration: none;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  position: relative;
  top: 20px;
  left: 150px;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

#likeBtn{
    padding: 8px;
    height: 24px;
    width: 24px;
}
#vcanvas {
  margin-top:135px;
}
div.smValue  {
    color: #ccc;
    text-decoration: none;
    font-family: Verdana, sans-serif;
     font-size: 15px;
     padding: 6px 15px 6px 65px;
    margin-bottom: 15px;
}

#preview-box {
  height: 675px;
  width: 252px;
  background-color: wheat;
  opacity: .9;
  padding: 20px;
}

#preview-listing {
  width: 600px;
  float: right;
  position: fixed;
  left: 600px;
}

#entry-listing {
  width: 425px;
  float: left;
}

.darkgray {
  color: #333 !important;
}

#frame {
  width: 250px;
  min-height: 125px;
  max-height: 420px;
  height: auto;
  border: 1px solid;
}

.fixedNewPost {
    position: fixed;
    left: 640px;
    top: 730px;
}
#wrapperDetails {
  width: 820px;
  height: auto;
  padding: 20px;
  margin-top: -20px;
  margin-left: 30px;
  background-color: #98948b;
}

#location_map {
  text-align: middle;
  padding: 20px;
  width: 780px;
  height: 400px;
}

.icon_pos {
  width: 48px;
  margin-top: 10px;
  margin-left: 10px;
}

.sm_back {
  width: 36px;
  margin-top: 10px;
  position: absolute;
  top: -30px;
  left: 580px;
}

.sm_send {
  width: 36px;
  margin-top: 10px;
  position: absolute;
  top: 575px;
  left: 527px;
}

#photo {
  text-align: center;
}
#photo > img {
  max-width: 790px;
}
#description {
  text-align: left;
  padding: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

#buttonDetails, #buttonDetailsUpdate {
    width: 847px;
    position: absolute;
    left: 45px;
    top: 20px;
}
#buttonDetailsUpdate {
    display: none;
}


#chat, #chatbox, typebox {
  color: #333;
  background-color: wheat;
  border: 3px solid #333;
}

#chat {
  display: none;
  position: absolute;
  top: 100px;
  left: 500px;
  width: 600px;
  height: 650px;
}

#chatbox {
    width: 550px;
    height: 450px;
    position: relative;
    top: 100px;
    left: 23px;
    border: 1px solid;
}

#typebox {
    width: 550px;
    height: 58px;
    position: relative;
    top: 120px;
    left: 23px;
    border: 1px solid;
}

#chatbox > p, #typebox > p {
  padding: 8px;
}

#chathead {
    height: 80px;
    width: 552px;
    position: absolute;
    top: 20px;
    left: 23px;
    background-color: dodgerblue;  
}

.avatar {
    width: 64px;
    position: absolute;
    top: 10px;
    left: 10px;  
}

figure {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 1em auto;
  background: #EFEFEF;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1em;
}

figcaption {
  padding: 1em 0;
}