<div>
    <h1>New Listing</h1>
    <div id="new-listing" class="divBox">
        <form ng-submit="$ctrl.redirect()" name="newListingForm">
            <div>
                <label class='lgLabel'>Description</label>
                <input ng-model="$ctrl.description"  required type="text"
                        id="name"  class="textBox" name="description" title="description" 
                        value="" placeholder="" size="30" maxlength="40"  />
                        <span ng-show="newListingForm.description.$error.required">Description is Required!</span>
                        <br>
                        <br>
                <label class='lgLabel'>Category</label>
                <input ng-model="$ctrl.category"  required type="text"
                        id="category"  class="textBox" name="category" title="category" 
                        value="" placeholder="" size="30" maxlength="40"  />
                        <span ng-show="newListingForm.category.$error.required">Category is Required!</span>
                        <br>
                        <br>
                <label class='lgLabel'>Price</label>
                <input ng-model="$ctrl.price"  required type="number"
                        id="price"  class="textBox" name="location" title="price" 
                        value="" placeholder="" size="30" maxlength="40"  />
                        <span ng-show="newListingForm.price.$error.required">Price is Required!</span>
                        <br>
                        <br> 
                <label class='lgLabel'>Photo</label>
                <input ng-model="$ctrl.photo"  required type="text"
                        id="photo"  class="textBox" name="photo" title="photo" 
                        value="" placeholder="" size="30" maxlength="40"  />
                        <span ng-show="newListingForm.photo.$error.required">Photo is Required!</span>
                        <br>
                        <br>                   
                <label class='lgLabel'>Selling Location</label>
                <input ng-model="$ctrl.location"
                        id="location" class="textBox" name="location" title="location" 
                        value="" placeholder="" size="30" maxlength="40"/>
            </div>
            <br /><br /><br /><br /><br /><br />
            <div class="spacer2"></div> 
            <a class="link" ng-click="$ctrl.cancel()">Cancel</a>
            <input class="button" type="submit" value="Submit" name="submit" id="submit" />
        </form>
    </div>
</div>