<div>
    <h1 class="register">Register</h1>
    <div id="new-user" class="divBox">
        <form ng-submit="$ctrl.redirect()" name="newUserForm">
            <div>
                <input ng-model="$ctrl.email" required type="email" 
                        id="email"  class="textBox" name="email" title="email" 
                        value="" placeholder="email (as your Username)" size="40" maxlength="2048" />
                        <span ng-show="loginForm.email.$error.required">Required!</span>
                        <span ng-show="loginForm.email.$error.email" class="error">Not valid email!</span>
                <input ng-model="$ctrl.name"  required type="text"
                        id="name"  class="textBox" name="name" title="name" 
                        value="" placeholder="name" size="30" maxlength="40"  />
                        <span ng-show="loginForm.name.$error.required">Required!</span>
                        <br>
                        <br>
                <input ng-model="$ctrl.location"
                        id="location" class="textBox" name="location" title="location" 
                        value="" placeholder="Location" size="30" maxlength="40"/>
            </div>
            <br /><br /><br /><br /><br /><br />
            <div class="spacer2"></div> 
            <a class="link" ng-click="$ctrl.cancel()">Cancel</a>
            <input class="button" type="submit" value="Submit" name="submit" id="submit" />
        </form>
    </div>
</div>