<div id="wrapper">
  <div id="sidebar">
     <!--Sidebar content-->
    <form ng-submit="$ctrl.redirect()"  name="newListingForm"> 
      <div id="profile">
        User Name: {{$ctrl.username}}
        <br>
        Location: {{location}}
        <br>
        <input class="button" type="submit" value="Add New Listing" name="New Listing" id="submit" />
      </div>
    </form>
    <div id="searchOptions">
      <table>
        <tr>
          Search: <input ng-model="query" type="text" class="textBox"/>
          <br>
          <br>
        </tr>
        <tr>
          <th> Sort by <a href="" ng-click="sortField = 'price'">Price</a> </th>
        </tr>
      </table>    
    </div>
  </div>
    <div id= "content">
      <!--Body content-->

      <div id="feed" ng-repeat="listing in $ctrl.listings | toArray:true | filter:query | orderBy:sortField" back-img="{{listing.imageFile}}">
        <!--<a href="#/itemDetail/{{listing.listid}}" class="thumb">
                <img ng-src="{{listing.imageFile}}" alt="{{listing.description}}" />
            </a>-->
            <a ng-click="$ctrl.likeMe()"><img id="likeBtn" ng-src="{{$ctrl.likeBtnImgUrl}}"  /></a>
         <span> Item: {{listing.category}}</span>
          <p>Description: {{listing.description}}</p>
        
      </div>

    </div>
  </div>
</div>