<div id="wrapper">
  <div id="sidebar">

    <form ng-submit="$ctrl.redirect()"  name="newListingForm"> 
      <div id="profile">
        <label class="smLabel">User Name: </label><label class="smValue" ng-bind='$ctrl.username'>&nbsp;</label>
        (<a class="smLink" href="" ng-click="$ctrl.signout()">Sign Out</a>)
        <br>
        <label class="smLabel">Location: </label><label class="smValue" ng-bind='$ctrl.location'></label>
        <br><br>
        <br>  
        <a class="smLink" ng-click="$ctrl.watchlist()">Watch List:</a> {{$ctrl.watching}}
        <input class="button" type="submit" value="Add New Listing" name="New Listing" id="submit" />
      </div>
    </form>
    <div id="searchOptions">
      <table>
        <tr>
          <td>

            <label class="smLabel">Search: </label>
          </td>
        </tr>        
        <tr>
          <td>
            <input ng-model="query" type="text" class="textBox"/>
          </td>
        </tr>
        <tr>
         <td> 
            <label class="smLabel">Sort by:
              <select ng-model="sortField">
                <option value="price">Price</option>
                <option value="item">Item</option>
              </select>
            </label>
            <label class="smLabel">
              <input type="radio" ng-model="direction" name="direction" checked>
              ascending
            </label>
            <label class="smLabel">
              <input type="radio" ng-model="direction" name="direction" value="reverse">
              descending
            </label>
                    <!--<label class="smLabel">Sort by</label> <a class="smLink" href="" ng-click="sortField = 'price'">Price</a> -->
          </td>
        </tr>
      </table>    
    </div>
    <div id="vcanvas">
      <iframe style="position: inherit; height: 37%; width: 100%;" src="https://www.youtube.com/embed/s0sbTLCLpgY" frameborder="0"
        allowfullscreen></iframe>
    </div>

  </div>
  <div id="content">
    <!--Body content-->
    <main>
      <section id="feed" ng-repeat="listing in $ctrl.listings | filter:query | orderBy:sortField:direction"  >
        <img back-img="/static/photos/{{listing.imageFile}}" ng-click="$ctrl.itemdetail(listing)" width="300">

        <a ng-click="$ctrl.likeMe(listing)"><img id="likeBtn" ng-src="/static/img/{{listing.liked ? 'heartLike.png' : 'heartNoLike.png' }} " /></a>
        <p>Item: {{listing.category}}</p>
        <p>Price: $ {{listing.price}}.00</p> 
        <p>Seller: {{listing.username}}</p>
        <p> Email: {{listing.userEmail}}</p>
        <p>Description: {{listing.description}}</p>
      </section>
    </main>
  </div>
</div>
</div>